.footer {
  width: 100%;
  height: 150px;
  background-color: rgb(108, 197, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 50px;
  cursor: pointer;
  vertical-align: middle;
}

.footer p {
  color: white;
}
